<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Prince Chaudhary</h3>
      </div>

      <div class="text-center">RxJS Training</div>
      <div class="text-center">
        <a href="https://docs.google.com/presentation/d/1icpFV4HiDct_agPXfP4Dj3lXncw-XWS9dYyXNE-evBg/edit?usp=sharing">Reactive Programming</a>
      </div>
    </div>
  </div>
</div>